<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
   <extension-point id="menuitem" name="menuitem" schema="schema/menuitem.exsd"/>
   <extension
         id="packagedepview"
         name="Package Dependency View"
         point="pt.iscte.pidesco.view">
      <view
            class="pa.iscde.packagedependencyview.view.PackageView"
            icon="diagram.png">
      </view>
   </extension>

</plugin>
